.container{
    margin-top: 100px;
    padding: 10;
    width: 400px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.input{
    width: 300px;
}

Button{
    margin: 5px 0;
}